body {
    background-color: #fcfcfc;
    color: #61dafb;
}

table {
    border: 4px solid #61dafb;
    margin: 10px;
}
td {
    border: 2px solid #61dafb;
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    /* background-color: #61dafb; */
}


#player-name{
    font-size: 30px;
    font-weight: bold;
}





        /* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /* //CSS */

}

/* 
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /* //CSS */

}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /* //CSS */

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /* //CSS */

}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /* //CSS */

}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    body {
        background-color: #fcfcfc;
        color: #61dafb;
    }
    
   
  
table {
    border: 4px solid #61dafb;
    margin: 10px;
}
td {
    border: 4px solid #61dafb;
    height: 20px;
    width: 20px;
    text-align: center;
    cursor: pointer;
    /* background-color: #61dafb; */
}


}
